# Docker build context exclusions
node_modules
.next
out
dist
.git
.gitignore
npm-debug.log
yarn-error.log
pnpm-lock.yaml
*.local
.env
.env*
.env-exports
.env.local
.env.development
.env.test
*.crt
*.key
*.pem
*.p12
*.pfx
.ssh
.kubeconfig
.DS_Store
.vscode
coverage
benchmark*
test-results
playwright-report
